.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center; 
}

h1 {
    color: #6f4e37;
    text-align: center; 
}

button {
    background-color: #6f4e37;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block; 
    text-align: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #543a29;
}
